.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.settings__setting i {
  margin-right: 20px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
